<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testfirebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="C - CODE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestFirebase">
        <activity
            android:name=".DetailRemind.DebugFixbug"
            android:exported="false" />
        <activity
            android:name=".DetailRemind.CleanCode"
            android:exported="false" />
        <activity
            android:name=".DetailRemind.MainSubject"
            android:exported="false" />
        <activity
            android:name=".DetailRemind.SoftSkill"
            android:exported="false" />
        <activity
            android:name=".DetailRemind.HardSkill"
            android:exported="false" />
        <activity
            android:name=".FragmentOnBoard.OnBoard"
            android:exported="false" />
        <activity
            android:name=".DetailAdvanceCourse.Queue"
            android:exported="false" />
        <activity
            android:name=".DetailAdvanceCourse.Stack"
            android:exported="false" />
        <activity
            android:name=".DetailAdvanceCourse.FileIO"
            android:exported="false" />
        <activity
            android:name=".DetailAdvanceCourse.LinkedList"
            android:exported="false" />
        <activity
            android:name=".DetailAdvanceCourse.Structures"
            android:exported="false" />
        <activity
            android:name=".DetailAdvanceCourse.Sort"
            android:exported="false" />
        <activity
            android:name=".DetailAdvanceCourse.Search"
            android:exported="false" />
        <activity
            android:name=".DetailAdvanceCourse.Array2way"
            android:exported="false" />
        <activity
            android:name=".DetailAdvanceCourse.Pointers"
            android:exported="false" />
        <activity
            android:name=".DetailAdvanceCourse.Recursion"
            android:exported="false" />
        <activity
            android:name=".DetailBasicCourse.String"
            android:exported="false" />
        <activity
            android:name=".DetailBasicCourse.Array2"
            android:exported="false" />
        <activity
            android:name=".DetailBasicCourse.Array1"
            android:exported="false" />
        <activity
            android:name=".DetailBasicCourse.Function"
            android:exported="false" />
        <activity
            android:name=".DetailBasicCourse.Loop2"
            android:exported="false" />
        <activity
            android:name=".DetailBasicCourse.Loop1"
            android:exported="false" />
        <activity
            android:name=".DetailBasicCourse.Condition"
            android:exported="false" />
        <activity
            android:name=".DetailBasicCourse.Operator"
            android:exported="false" />
        <activity
            android:name=".DetailBasicCourse.DataType"
            android:exported="false" />
        <activity
            android:name=".DetailBasicCourse.InputOutput"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>